body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/about.webp");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;

  }
  .footer{
    background-color: rgb(55, 55, 55);
    height: 40%;
    width: 100%;
    margin: auto;
  }
  .footer .row{
    width: 90%;
  }
  .footer .column{
    padding-top:3px;
    padding-left: 10px;
    float: left;
    width: 30%;
  }
  .footer h4{
    color: white;
    text-decoration: underline;
  }
  .footer a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    display:flex;
    margin-bottom: 20px;
  }
  .footer p{
    color: white;
    font-size: 12px;
  }
  